
/**
 * Blueshift logo.
 */

.logo[data-logo="Blueshift"] {
  width: 0;
}

.logo[data-logo="Blueshift"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Blueshift"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Blueshift"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
